@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #A4343A;
  --primary-dark: #74191e; 
  --secondary: #FFFFFF;
  --tertiary: #BE3A34;
  --extracolor: #34A350;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --font-aino: var(--font-ainoFont);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-primarydark: var(--primary-dark);
  --color-extra: var(--extracolor);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
